@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Sorts+Mill+Goudy&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  font-family: 'Bellefair', serif;
  font-family: 'Sorts Mill Goudy', serif;
  min-height: 100%;
}

.header{
    background-image: url('./imgCoraline/encabezado2.jpg') ;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*flex*/

.flexMenu a{
    text-decoration: none;
    color: antiquewhite;
    
}

.flexMenu li{
    list-style-type: none;
}

.flexMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
     
}

h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem;
    margin-bottom: 5rem;
    text-decoration: overline;  
    color: antiquewhite; 
}

.main h2{
    font-size: 1.7rem;
    padding: 0.5rem;
    background-color:rgba(133, 75, 141, 0.534);
    border-radius: 10px;
    color:#fdcfcf;
}

.main h3{
    font-size: 1.3rem;
    padding: 1rem;
    color: #8c96a0;
}

.main p{
  color: antiquewhite;
}

article.main{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    
}

.irAbajo a{
    font-size: 1rem;
    color: #fdcfcf;
    float: left;
}

#piePagina a{
    color: #fdcfcf;
    font-size: 1rem;
    float: left;
    padding-left: 5rem;
}

h4{
    color: #8c96a0;
    padding: 1rem;
}


/*grid*/
.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #85aedd;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fdcfcf;
}

.main {
  grid-area: main;
  background-image: url(./imgCoraline/87457-coraline.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  grid-area: footer;
  background-color: black;
  background-image: url(./imgCoraline/footerFondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
    "sidebar main"
    "footer  footer"; */

    grid-template:
      "header  header" 100px
      "sidebar main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  15%
      "main  main   sidebar" auto
      "footer  footer footer"  8% /
      auto    auto   20%;
  }
}

/*flex-box*/

.flexVideo{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    grid-row-gap: 3rem;
    padding-bottom: 3rem;
}

.textoVideo{
    padding-right: 2rem;
}

/*grid sobre el libro*/

/*.gridLibro{
  display: grid; 
 /* 2 columnas */
 /*grid-template-columns: 1fr 2fr;
 /* 6 filas */
 /*grid-template-rows: auto auto auto auto auto;
 justify-content: space-around;
 align-items: center;
 align-content: space-between;

}
*/

.gridLibro{
  display: grid;
  grid-template-areas:
  "titulo titulo"
  "p1 p1"
  "imgLibro textoLibro"
  "p2 p2"
;
  /*2 columnas*/
  grid-template-columns: auto;
  /*4 filas*/
  grid-template-rows: 1fr  auto;
  grid-row-gap: 3rem;
 grid-column-gap: 10px;
 height: auto;
 margin: 0;
 align-items: center;
}

h2{
  grid-area: titulo;
}

.imgLibro{
  grid-area: imgLibro;
}
.texto{
  grid-area: textoLibro; 
}

.imgLibro img{
  width: 70%;
  box-shadow: 4px 4px #8c96a0;
  border-radius: 10px;
}

